$primary-border: black;
$primary-background: #555;
$secondary-background: #888;
$selected-background: #E23E3E;

#content {
    width: 100%;
    .title {
        display: flex;
        justify-content: space-around;
        // margin: 0 auto;
        img {
            // flex: 1;
            background: $secondary-background;
        }
        button {
            flex: 1;
            font-size: 28px;
        }
    }
    .gamespace {
        background: $primary-background;
        // padding: 20px 0;
        display: flex;
        flex-wrap: wrap;
        border: 1px solid black;
        .row {
            width: 100%;
            // margin: 10px 0;
            display: flex;
            // flex-direction: row;
            // flex-wrap: row wrap;
            .card {
                z-index: 10;
                justify-content: center;
                display: inline-flex;
                flex: 1;
                padding: 2% 0;
                border: 1px solid white;
                img.back {
                    position: relative;
                    // top: 25%;
                    left: 40px;
                    z-index: 10;
                    border: 1px solid black;
                }
                img.front {
                    position: relative;
                    // top: 25%;
                    right: 41px;
                    z-index: 1;
                }
            }
            .card.selected {
                background: $selected-background;
            }
        }
    }
}

