$primary-border: black;
$primary-background: #555;
$secondary-background: #888;
$selected-background: #E23E3E;

#content {
    max-height: 576px;
    max-width: 720px;
    // background: black;
    // border: 1px solid black;
    .title {
        display: flex;
        // height: 50px;
        justify-content: space-around;
        img {
            flex: 1;
            background: $secondary-background;
        }
        div.new-game {
            flex: 3;
            font-size: 28px;
            // animation: pulse 2s infinite;
            text-align: center;
            padding: 20px;

        }
        .instructions {
            text-align: center;
            flex: 3;
            border: 1px solid black;
            p{
                margin: 0;
                line-height: 38px;
                text-transform: uppercase;
                font-family: sans-serif;
                .score {
                    font-size: 22px;
                    color: blue;
                    margin: 0 0 0 10px;
                    text-transform: capitalize;
                }
            }
        }
    }
    .gamespace {
        // background: $primary-background;
        // padding: 20px 0;
        height: 496px;
        display: flex;
        flex-wrap: wrap;
        // border: 1px solid black;
        .row {
            width: 100%;
            // margin: 10px 0;
            display: flex;
            // flex-direction: row;
            // flex-wrap: row wrap;
            .card {
                z-index: 10;
                justify-content: center;
                display: inline-flex;
                flex: 1;
                padding: 1% 0;
                border: 1px solid white;
                img.back {
                    position: relative;
                    left: 40px;
                    z-index: 10;
                    border: 1px solid black;
                    box-shadow: 2px 2px 5px black;
                }
                img.front {
                    position: relative;
                    border: 1px solid black;
                    right: 42px;
                    z-index: 1;
                }
            }
            .card.selected {
                border-radius: 50px;
                // background: $selected-background;
                animation: pulse 5s infinite;
            }
        }
        .restart {
            color: pink;
            text-transform: capitalize;
            font-size: 28px;
            font-family: sans-serif;
            display: flex;
            flex: 1;
            justify-content: center;
            margin: auto;
        }
    }
}

.cleared {
    // color: rgba(255,255,255,1);
    // background: rgba(255,255,255,1);
    opacity: 0;
}

.hidden {
    display: none;
}

@keyframes pulse {
    0% {
        background: yellow;
    }
    10% {
        background: #eee;
    }
    20% {
        background: orange;
    }
    30% {
        background: purple;
    }
    40% {
        background: brown;
    }
    50% {
        background: $selected-background;
    }
    60% {
        background: maroon;
    }
    70% {
        background: pink;
    }
    80% {
        background: #111;
    }
    90% {
        background: lime;
    }
    100% {
        background: green;
    }
}

